.info {
    width: 50%;
    margin-left: 2%;
    background-color: white;
    flex-basis: content;
    color: rgb(60, 59, 59);
    border: solid;
    border: white;
    border-radius: 20px;
    text-align: center;
}

.info form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
}

.info h2 {
    margin: 5%;
    font-size: 20px;
}

.info form label {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 2%;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .info {
        width: 83%;
        margin: 0;
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px) {
    .info {
        font-size: 11px;
        margin: 0;
        margin-top: 20px;
    }

    .info h2 {
        font-size: 14px;
        margin: 3%;
    }

    .info form {
        height: 200px
    }

    .info form label {
        padding-top: 3%;
        padding-bottom: 1%;
    }

    #uname {
        font-size: 11px;
    }

    #title {
        font-size: 11px;
    }

    #content {
        font-size: 11px;
        margin-bottom: 4%;
    }

    #submit {
        font-size: 11px;
    }
}